/* base styles */
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
    list-style: none;
}

a{
    color: var(--text-color);
    text-decoration: none;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
}

/* header section */
.header{
    padding-top:2.2rem;
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 100;
}
.namelogo{
    cursor: pointer;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--text-color);

}
#hamburger-menu{
    font-size: 3rem;
    display: none;
    color: var(--text-color);
    cursor: pointer;
}
.navbar{
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
}

.active{
    color: var(--main-color);
}

.navbar .nav-items{
    text-decoration: none;
    margin-left: 5rem;
}

.navbar .nav-items a{
    font-size: 1.6rem;
    text-decoration: none;
    transition: .2s;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .3px;
}

/* .navbar .nav-items a:hover{
    color: white;
    font-size: 1.7rem;
    position: relative;
} */

.line{
    background-color: var(--text-color);
    height: .2rem;
    position: absolute;
    top: 0;
    /* animation: line 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite forwards alternate-reverse; */
    width: 4rem;
    transition: 4s;
}


/* MAIN SECTION */
.main{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* section 1 [introduction] */
.section1{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: var(--text-color);
}
.title h2{
    font-weight: 400;
    letter-spacing: .4px;
    font-size: 3.5rem;
    font-family: cursive;
}
.title h3{
    font-weight: 400;
    letter-spacing: .4px;
    font-size: 3.5rem;
}

.title h3 span{
    font-family: cursive;
    color: var(--main-color);
}

.photosection{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photosection img{
    height: 40rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem 2px var(--main-color);
    transition: .4s;
}

.socials a{
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    background:transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .2s;
}

.socials a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* section2 [about seciton]*/
.aboutsection{
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutphoto-container{
    flex: 1;
}

.aboutphoto-container img{
    height: 37vw;
    border-radius: 4rem;
    box-shadow: 0 0 3rem 1px var(--main-color);
    transition: .4s;

}

.aboutcontent{
    flex: 1;
    color: var(--text-color);
    text-align: left;
}
.aboutcontent h2{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.8;
}

.aboutcontent h3{
    font-size: 2rem;
    font-weight: 600;
}
.aboutcontent p{
    font-size: 1.4rem;
    margin: 2.4rem 0 3rem;
    line-height: 2rem;
}
.aboutcontent span{
    color: var(--main-color);
}


/* section 3 [project section] */
.project-section{
    width: 100%;
}
.project-section h1{
    text-align: center;
    font-size: 3rem;
    color: var(--text-color);
}
.project-section h1 span{
    color: var(--main-color);
}

.project-container-grid{
    display: grid;
    margin-top: 2.5rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    row-gap: 1.8rem;
}

.grid-items{
    height: 340px;
    width: 440px;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-container{
    flex: 1;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

.image-container img{
    width: 100%;
    height: 100%;
    transition: .4s ease;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5rem;
}

.button-container button{
    font-size: 1.2rem;
    width: 7rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    /* box-shadow: 0 0 7px 2px var(--main-color); */
    margin-top: .3rem;
    margin-bottom: .5rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);

}

.button-container button:hover{
    cursor: pointer;
    transform: translateY(2%) scale(1.1);
}

.button-container button:nth-child(1){
    background-color:rgba(0, 128, 0, 0.338);

    /* box-shadow: inset 0 0 0 0; */
    transition: .4s;
}

/* .button-container button:nth-child(1):hover{
    box-shadow: 0 0 7px 2px green;
} */

.button-container button:nth-child(2){
    background-color: var(--second-bg-color);
    transition: .4s;
}



.information-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    transition: .4s ease;
    transform: translateY(100%);

}

.information-layer h4{
    margin-bottom: .8rem;
    font-size: 2rem;
}

.information-layer p{
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.4rem;
    width: 98%;
}

.information-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
    margin-top: 1rem;
}

.information-layer a i{
    font-size: 1.4rem;
    color: var(--second-bg-color);
}

.image-container:hover .information-layer{
    transform: translateY(0);
}

.image-container:hover img{
    filter: blur(5px);
    transform: scale(1.1);
}


/* SECTION 4 CERTIFICATES SECTION */

.certificates-section{
    /* background-color: red; */
    width: 100%;
}

.certificates-section h1{
    text-align: center;
    font-size: 3.2rem;
    color: var(--text-color);
}


.certificate-container-grid{
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    row-gap: 1.8rem;
}

.items{
    width: 39.5vw;
    height: 62vh;
    /* border-radius: 2rem; */
    position: relative;
    overflow: hidden;
    transition: .4s;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    box-shadow: 0 0 1rem 0 var(--main-color);
}



.items iframe{
    width: 100%;
    height: 100%;
}

.items:hover{
    transform: scale(1.0564);
}

/* CONTACT SECTION */

.contact-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
}

.contact-section h2{
    font-size: 3.2rem;
    color: var(--text-color);
}

.contact-section h2 span{
    color: var(--main-color);
}

.form{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.contact-section form .inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-section form .inputs input{
    width: 45%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    font-size: 1.3rem;
    border-radius: .8rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border: none;
}

.contact-section form textarea{
    width: 100%;
    padding: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
    resize: none;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    font-size: 1.3rem;
    margin-bottom: 2rem;
    border-radius: .8rem;
    border: none;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 7px var(--main-color);
    font-size: 1.2rem;
    color: var(--second-bg-color);
    font-family: 'Poppins',sans-serif;
    letter-spacing: .1rem;
    transition: .4s ease;
}

.btn:hover{
    box-shadow: none;
}


/* FOOTER  */
.footer{
    background-color: var(--second-bg-color);
    color: var(--text-color);
    display: flex;
    flex-wrap:wrap;
    padding: 2rem 9%;
    justify-content: space-between;
    align-items: center;
}

.footer-text p{
    font-size: 1.2rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transition: .2s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}


/* BREAKPOINTS */
@media (max-width:1720px) {
    .section1{
        width: 85%;
    }

    .aboutsection{
        padding-top: 2rem;
    }

}

@media (max-width:1676px) {
    .section1{
        width: 90%;
    }


}

@media (max-width:1534px) {
    .photosection img{
        height: 38rem;
        box-shadow: 0 0 2rem 1px var(--main-color);
    }

    .navbar .nav-items{
        margin-left: 3.4rem;
    }

}

@media (max-width:1486px) {
    .photosection img{
        height: 38rem;
        box-shadow: 0 0 1.2rem 1px var(--main-color);
    }

    .section1{
        width: 90%;
    }

    .section1 h2,h3,span{
        font-size: 3.4rem;
    }
}

@media (max-width:1446px) {
    .photosection img{
        height: 36rem;
    }

    .section1{
        padding-bottom: 2rem;
        padding-bottom: 2rem;

    }

    .section1 h2,h3,span{
        font-size: 3rem;
    }

    .navbar{
        margin-right: 4.5rem;
    }
}

@media (max-width:1374px) {
    .photosection img{
        height: 35rem;
    }

    .section1{
        width: 94%;
    }

    .navbar .nav-items a{
        font-size: 1.4rem;
    }
}

@media (max-width:1296px) {
    
    .section1 h2,h3,span,.socials a{
        font-size: 2.7rem;
    }

}


@media (max-width:1244px) {
    
    .photosection img{
        height: 30rem;
    }

    .section1{
        padding-bottom: 3rem;
        padding-top: 3rem;
        width: 95%;
    }

    .socials a i{
        font-size: 2rem;
    }


}

@media (max-width:1006px) {
    
    .navbar ul{
        flex-direction: column;
        display: none;
    }

    #hamburger-menu{
        display: block;
    }
}






