/* base styles */
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
    list-style: none;
}

a{
    color: var(--text-color);
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
}

/* header section */
.header{
    padding-top:2rem;
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: var(--second-bg-color);
}
.namelogo{
    cursor: pointer;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--text-color);

}
#hamburger-menu{
    font-size: 3rem;
    display: none;
    color: var(--text-color);
}
.navbar{
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
}

.active{
    color: var(--main-color);
}

.navbar .nav-items{
    text-decoration: none;
    margin-left: 6rem;
}
.navbar .nav-items a{
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 540;
    transition: .2s;
    color: rgba(255, 255, 255, 0.8);
    font-family:'Poppins',sans-serif
}

.navbar .nav-items a:hover{
    color: white;
}

.main{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* section 1 [introduction] */
.section1{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: var(--text-color);
}
.title h2{
    font-weight: 400;
    letter-spacing: .4px;
    font-size: 3.5rem;
    font-family: cursive;
}
.title h3{
    font-weight: 400;
    letter-spacing: .4px;
    font-size: 3.5rem;
}

.title h3 span{
    font-family: cursive;
    color: var(--main-color);
}

.photosection{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photosection img{
    height: 37vw;
    border-radius: 4rem;
    box-shadow: 0 0 3rem 1px var(--main-color);
    transition: .4s;
}

.socials a{
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    background:transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .2s;
}

.socials a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* section2 [about seciton]*/
.aboutsection{
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutphoto-container{
    flex: 1;
}

.aboutphoto-container img{
    height: 37vw;
    border-radius: 4rem;
    box-shadow: 0 0 3rem 1px var(--main-color);
    transition: .4s;

}

.aboutcontent{
    flex: 1;
    color: var(--text-color);
    text-align: left;
}
.aboutcontent h2{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.8;
}

.aboutcontent h3{
    font-size: 2rem;
    font-weight: 600;
}
.aboutcontent p{
    font-size: 1.4rem;
    margin: 2.4rem 0 3rem;
    line-height: 2rem;
}
.aboutcontent span{
    color: var(--main-color);
}


/* section 3 [project section] */

.project-section{
    width: 100%;
}
.project-section h1{
    text-align: center;
    font-size: 3.2rem;
    color: var(--text-color);
}
.project-section h1 span{
    color: var(--main-color);
}

.project-container-grid{
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    row-gap: 1.8rem;
}

.grid-items{
    background-color: black;
    height: 300px;
    width: 400px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem var(--main-color);
    position: relative;
    overflow: hidden;
}

.grid-items img{
    width: 100%;
    transition: .4s ease;
}

.grid-items:hover img{
    transform: scale(1.1);
}

.grid-items:hover .information-layer{
    transform: translateY(0);
}

.information-layer{
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    background-color: red;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .4s ease;
}

.information-layer h4{
    font-size: 2rem;
}

.information-layer p{
    font-size: 1.1rem;
    margin: .3rem 0 1;
}

.information-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

.information-layer a i{
    font-size: 1.4rem;
    color: var(--second-bg-color);
}